body{
      background-image: url(https://static.vecteezy.com/system/resources/previews/006/614/741/large_2x/abstract-background-blue-wave-elegant-style-perfect-for-wallpaper-design-promotion-presentation-sosial-media-post-etc-free-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}